{% extends 'store/main.html' %}
{% block content %}
{% load static %}
<h2 style="text-align: center;">About Us</h2><br>
<img src="{%  static 'images/abt1.png' %}" class="img-fluid" alt="Responsive image"><br><br>
<p class="text-center font-italic">
    We design seasonless essentials for everyday life. Perfect premium pieces to make you feel comfortable and confident, season after season.<br><br>
    <strong>ISOUM Fasion</strong> was founded in <strong>BERRECHID</strong> by <strong>ISMAIL FAKIRI</strong>.
</p>
{% endblock content %}